.modules li{
    margin-top: 15px;
    background-color: #f5f5f5;
    border: 1px solid #c7cdd1;
    color: #000;
}
#control-course ul li {
    width: 100%;
    margin: 3px;
    padding: 0;
}
#control-course ul li button {
    text-align: left;
    border-radius: 3px;
    font-size: 14px;
}
#control-course ul li > button {
    width: inherit;
}
#control-course ul li .parallel-buttons {
    font-size: 0;
    margin: 0px 0px 10px 0px;
}
#control-course ul li .parallel-buttons button {
    width: calc(50%); /* 计算宽度，减去两个按钮的1px边框 */
    box-sizing: border-box; /* 让边框计算在元素的宽度内 */
    display: inline-block; /* 将按钮显示为行内元素，以便它们可以在同一行上 */
    text-align: center; /* 按钮内文本居中 */
    margin: 0;
}
#control-course ul li .parallel-buttons button i {
    margin: 3px;
}
.course-info {
    padding: 0;
}

.panel {
    margin: 10px 0px 20px 0px;
}
.panel .panel-title {
    margin-bottom: 10px;
    padding: 0;
    font-size: 14px;
    border-bottom: 1px solid #ccc;
}
.panel .panel-title p {
    margin: 0;
    padding-left: 10px;
    text-align: left;
}

.btn-default{
    background: #eee;
    border-radius: 3px;
    border: 1px solid #ccc!important;
    margin: 0!important;
    color: #000000!important;
}

#feedback li a{
    color: #000000!important;
    text-decoration: none;
}