.breadcrumb .breadcrumb-item a{
    text-decoration: none;
    color: var(--kanbas-red);
}

.breadcrumb .active::before{
    color: #000000;
    content: "> "!important;
    padding: 0 5px;
}
#breadcrumb{
    height:60px;
    display: flex;
    font-size: 24px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 10px ;
}
#breadcrumb ol{
    margin:0;
}
#breadcrumb .breadcrumb-icon{
    display: flex;
    align-items: center;
    margin:10px;
}