.title {
    color: #b6b6b6;
}

.card-width  {
    min-width: 250px;
    max-width: 270px;
    /*width: 260px;*/
}

/*.card {*/
/*    box-sizing: border-box;*/
/*    box-shadow: 0 2px 5px rgba(0,0,0,.3);*/
/*    border-radius: 4px;*/
/*    overflow: hidden;*/
/*    background: #fff;*/
/*    width: 262px;*/
/*    display: inline-block;*/
/*    vertical-align: top;*/
/*    margin: 36px 0 0 36px;*/
/*}*/
