.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.row {
    margin-bottom: 20px;
}

.checkbox-container {
    border: 1px solid lightgray;
    padding: 20px;
    width: 300px;
    font-size: 1em;
    margin-left: -55px;
    float: left;
}

input[type="checkbox"] {
    border: 1px solid lightgray;
    padding: 5px;
}
